/*
This style sheet for the opening interface, focuses on courage/joy/warmth through purple tones #b38f00
*/
QWidget#Form
{
    background: white;
}

QPushButton{
  margin: 0 auto;
  padding: 0;
  height: 70px;

  border-width: 2.5px;
  border-color: #990078;
  border-style: solid;
  background: transparent;
  color: #990078;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;

}

QPushButton:hover{
  background-color: #990078;
  color: #fff;
}

QPushButton:focus{
  outline: none;
}

QComboBox {
    color: black;
    border: 1px solid gray;
    border-radius: 3px;
    border-color: #990078;
    border-width: 5px;
    padding: 1px 18px 1px 3px;
    min-width: 5em;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;

}


QComboBox QAbstractItemView{
  selection-color: black;
  border-color: #b38f00;
  selection-background-color:#990078;
}
